ICLR 2019/data/*
ICLR 2019/CIFAR10/data/*
ICLR 2019/MNIST/data/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Collected_Data/*
ICLR 2019/Permutated_MNIST/MSE_Cutoff/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/MSE_Cutoff/Collected_Data/*
ICLR 2019/CIFAR10/MSE_Cutoff/Collected_Data/*
ICLR 2019/CIFAR10/Test_Set_Performance_Cutoff/Collected_Data/*
ICLR 2019/CIFAR10/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/Incremental_MNIST/333_Skills/Collected_Data/*
ICLR 2019/Incremental_MNIST/MSE_Cutoff/Collected_Data/*
ICLR 2019/Incremental_MNIST/MSE_Cutoff/Test_Train_Images/*
ICLR 2019/Incremental_MNIST/333_Skills/task_net_models/*
ICLR 2019/Incremental_MNIST/IGNORE/mnist_individual_weights/permutated_MNIST/*
ICLR 2019/Incremental_MNIST/MSE_Cutoff/task_net_models/*
ICLR 2019/Incremental_MNIST/Test_Set_Performance_Cutoff/Collected_Data/*
ICLR 2019/Incremental_MNIST/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/Fixed_Iterations_Cutoff/Collected_Data/*
ICLR 2019/Permutated_MNIST/Fixed_Iterations_Cutoff/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/CIFAR10/MSE_Cutoff/Test_Train_Images/*
ICLR 2019/CIFAR10/MSE_Cutoff/task_net_models/*
ICLR 2019/CIFAR10/Test_Set_Performance_Cutoff/Collected_Data/*
ICLR 2019/CIFAR10/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/Incremental_MNIST/333_Skills/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/Fixed_Iterations_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Test_Train_Images/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/MSE_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Collected_Data\
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/task_net_models/*
ICLR 2019/Permutated_MNIST/Test_Set_Performance_Cutoff/Collected_Data/8_data
